
  <div class="row">
    <div class="col text-center">
      <img src="img/11.png" alt="la ode kamaluddin" class="img-thumbnail rounded-circle" width="200">
      <h1 class="display-4">La Ode kmaluddin</h1>
      <p class="lead">WEB Developer | Content Creator</p>
    </div>
  </div>
